.wrap{
    width:min(80%,400px);
    margin:30px auto
}
.inputWrap{
    width:80%;;
    margin:0 auto;
    
}

:root{
    --bl:gray;
}

.main{
    padding:15px;
    border:1px solid var(--bl);
    border-radius:10px
}
.name{
    text-align: center;
    margin-bottom: 10px;

}
.dialoage{
    border-bottom: 1px solid var(--bl);
    display:flex;
    align-items: center;
    gap:10px;
    padding:10px
}
.me{
    flex-direction: row-reverse;
}