*{
  padding:0;margin:0;
  box-sizing:border-box;
}
.wrap{
  width:min(100%,800px);

  margin:0 auto;
}
header{
  background-image:url("./assets/Hero.png");
  background-size:cover;
  background-position:top;
  height:300px;
  width:100%;
}
.headerTitle{
  text-align:center;
  color:white;
  font-size:30px;

}
header{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-evenly;
}
select{
  display:block;
  margin:30px auto;
  background-color: rgba(255,255,255,0.7);
  border:2px solid white;
  width:300px;
  height:30px;
}
nav{
  width:70%;
  padding:20px;
  background-color: white;
  border-radius:10px;
  box-shadow:0 0 5px gray;
  margin:0 auto;
  position:relative;
  bottom:50px;
}
.navTitle{
  color:gray;

}
.navWrap{
  display:flex;
  justify-content: space-evenly;
  padding-top:20px;
}
.nav{
  width:20%;
  border-radius:10px;
  height:30px;
  line-height:30px;
  text-align:center;
  color:white;
  background-color: purple;
}
.nav:nth-of-type(2){
  background-color: orange;
}
.nav:nth-of-type(3){
  background-color: goldenrod;
}
.nav:nth-of-type(4){
  background-color: blue;
}
.line{
  width:100%;
  height:20px;
  margin:0 auto;
  position:relative;
  text-align: center;
}
.line>img{
  width:20px;height:20px;
  border:2px solid blue;
  object-fit:contain;
  border-radius: 100%;
  position:relative;
  bottom:7px;
}
.line::after{
  content:"";
  background-image: url("./assets/dash.png");
  width:100%;height:3px;
  position:absolute;
  left:0;
}
/* https://khh.travel/image/736/1024x768 */
main{
  width:100%;
  padding:30px;
  background-color: rgb(213, 213, 213);
}
.mainTitle{
  text-align: center;
  font-size:20px;
}
.distWrap{
  display:flex;
  flex-wrap:wrap;
  gap:5px;
  row-gap:20px;
  justify-content: center;

}
.view{
  width:45%;
  position: relative;
}
.pic{
  background-image: url("https://khh.travel/image/736/1024x768");
  background-size: cover;
  color:white;
  display:flex;
  justify-content: space-between;
  align-items:flex-end;
  height:200px;
  padding:10px;
}

.picName{
  font-size:35px;
  font-weight:800
}
.dist{
  font-size:15px;
}
.des{
  padding:10px 30px;
  display:grid;
  grid-template-columns:30px 2fr 30px 1fr;
  grid-template-rows:repeat(3,1fr);
  background-color: white;
  gap:5px;
  margin:0 auto;
  height:150px;
  overflow:scroll;
}
.smallPic{
  grid-column:1
}
.time,.location{
  grid-column:span 3;

}
.phone{
  grid-column:2;
}
.smallPicLast{
  grid-column:3;

}
.pageNav{
  display:flex;
  gap:10px;
  justify-content: center;
  color:gray
}
.pages>span{
  margin:0 3px;
}
footer{
  background-color: rgb(17, 0, 255);
  color:white;
  text-align: center;
  padding:20px;
}
.two{
  margin-top:20px;
}
.notFree{
  position:absolute;
  background-color: red;
  width:70px;
  z-index: 1;
  display:none;
}
.distWrap::after{
  content:"";
  width:45%;

}